extends layout

block content
    .container.contents-container
        h1 Login
        form.create-box(id="test-form")
            input.form-control(name="username", type="text", placeholder="Username")
            input.form-control(name="password", type="text", placeholder="Password")
            button.btn.btn-primary(id="test-btn-submit") Login
        p(id="alert", style="color: red; display: none")