extends ../layout

block content
    .container.contents-container
        h1 Create Class
        a.use-link(href="/class") Class
        form.create-box(id= "createClass-form")
            input.form-control(name="class_name", type="text", placeholder="Name")
            input.form-control(name="phone_number", type="text", placeholder="SÄT")
            button.btn.btn-primary(id= "createClass-btn") Create
        p(id="alert", style="color: red; display: none")
