extends ../layout_student

block content
    .container.contents-container
        h1 Login
        form.create-box(action="/auth/login", method="POST")
            input.form-control(name="username", type="text", placeholder="Username")
            input.form-control(name="password", type="text", placeholder="Password")
            button.btn.btn-primary(id="loginBtn") Login
        a(href='/auth/forgotpass') Forgot Pass
