extends ../layout_student

block content
    .container.contents-container
        h1 Register
        form.create-box(action="/auth", method="POST")
            input.form-control(name="username", type="text", placeholder="Username")
            input.form-control(name="password", type="text", placeholder="Password")
            input.form-control(name="studentID", type="text", placeholder="Student ID")
            button.btn.btn-primary Register
