extends ../layout

block content
    .container.contents-container
        h1 Quản lý danh sách Student
        a.use-link(href="/student/create") Create
        form.search-box(action= "/student/search", method="GET")
            input.form-control(name="q", type="text", value= search_key)
            button.btn.btn-primary Search
        h2.mt-5 Danh sách Student
        table.table
            thead  
                th(scope="col") Name
                th(scope="col") Nơi ở
                th(scope="col", class="text-center") Action
            tbody
                each item in student_list
                    tr
                        td= item.name
                        td= item.address
                        td(class="text-center")
                            a(href="/student/" + item._id, class="view-btn btn btn-primary") View

    